<h1 class="animated fadeIn fast "> Comic App </h1>
<hr>

<p class="animated fadeIn "> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur commodi dolorem inventore vero expedita hic eveniet et non, quo dolor esse sunt est voluptatem optio! Dolores vitae quidem quae quo!</p>
<p class="animated fadeIn ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, aliquam incidunt dignissimos illum similique optio fugit officiis earum. Magni repellat aut accusantium sapiente eligendi delectus deleniti quo fugit quasi eum!
</p>